name: Validate

on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  validate-hacs:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
          ignore: brands
      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"

  publish:
    name: Publish to Github Releases
    needs: validate-hacs
    runs-on: "ubuntu-latest"
    if: github.ref_type	== 'tag'

    steps:
      - name: Latest & Previous Tag
        id: tags
        uses: JinoArch/get-latest-tag@latest

      - name: Create a release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          body: https://github.com/fcastilloec/gkeep-list-sync/compare/${{ steps.tags.outputs.previousTag }}...${{ steps.tags.outputs.latestTag }}
          draft: false
          token: ${{ secrets.GITHUB_TOKEN }}
